.form {
  margin-top: 8rem;
  width: 50%;
  background-color: #f1f1f1;
  padding: 3rem 5rem;
  margin: 3rem auto;
  border-radius: 1rem;
}
.labels {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.button {
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem 1rem;
  cursor: pointer;
  border-radius: 1rem;
}
.createAccount {
  text-align: left;
  position: absolute;
}

@media screen and (max-width: 900px) {
  .form {
    padding: 3rem 2rem;
  }
  .createAccount {
    position: relative;
    text-align: center;
  }
  .button {
    padding: 1rem 1rem;
  }
}
